<!DOCTYPE html>
<html>
  <head>
    <title>AmazingAmazonMaster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%# loading a partial located at views/shared/navbar %>
    <%# by convention partials are decorated with an _ %>
    <%= render 'shared/navbar' %>
    <%= flash[:notice] %>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
